@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#container {
    position: absolute;
    width: 420px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo a {
    text-decoration: none;
    color: #222;
}
.logo h2{
    font-family: 'Gowun Dodum';
    font-weight: bold;   
    text-align: center;
}
#search_user_pw_m_text_box {
    font-family: 'Gowun Dodum';
}
input::placeholder {
    font-family: 'Gowun Dodum';
    padding-left: 5px;
}
.link_search_id_button {
    font-family: 'Gowun Dodum';;
}
a {
    text-decoration: none;
    color: inherit;
}
input:focus {
    outline: none;
}
#search_user_pw_box {
    width: 400px;
    height: 250px;
    padding: 0;
    margin: 0 auto;
    border: 2px solid rgba(244, 195, 178, 0.5);
    border-radius: 5%;
    padding-top: 30px;
}
#search_user_pw_m_text_box {
    position: absolute;
    width: 400px;
    height: 38px;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
    float: left;
    z-index: 1;
    padding-top: 2px;
}
.link_close {
    width: 400px;
    height: 30px;
}
.close_button {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 0px;
    width:30px;
    height:30px;
    float: right;
    margin-right: 50px;
    z-index: 2;
}
.close_button:before, .close_button:after {
    position:absolute;
    content:' ';
    height:28px;
    width:1px;
    background-color:#fff;
    top: 2px;
}
.close_button:before{
    background-color: rgb(143, 143, 143);
    transform:rotate(45deg);
}
.close_button:after{
    background-color: rgb(143, 143, 143);
    transform:rotate(-45deg);
}
.close_button:hover::before {
    background-color: black;
}
.close_button:hover::after {
    background-color: black;
}
#middle_line {
    width: 320px;
    height: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 0.3px solid lightgrey;
}
#pw_dummy_button {
    width: 150px;
    margin-right: 50px;
    height: 40px;
    margin-top: 15px;
    background-color: white;
    float: right;
}
#link_search_id {
    width: 150px;
    height: 40px;
    margin-left: 50px;
    margin-top: 15px;
    float: left;
}
.link_search_id_button {
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(206, 206, 206) ;
    border-bottom: 0;
    color: grey;
}
form {
    width: 400px;
    height: 120px;
    margin-top: 60px;
}
.input_user_data5 {
    background-color: white;
    width: 300px;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
}
#input_email {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: 0.3px solid lightgray;
    border-radius: 2px;
    padding: 5px;
}
#search_user_pw_button_box {
    margin-top: 15px;
    width: 300px;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
#search_user_pw_button {
    width: 300px;
    height: 40px;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(63, 63, 63);
    border-radius: 2px;
}
#search_user_pw_button_text {
    color: white;
    font-size: 15px;
}

#search_user_pw_button_text:hover {
    color: rgb(233, 233, 0);
}

/* 푸터 시작 */
.footer {
    height: 350px;
    padding: 50px 50px 50px 100px;
    background-color: #fff;
    font-size: 12px;
    bottom: 0px;
}
.footer a {
    text-decoration: none;
    color: #222;
}
/* 푸터 끝 */